.image1{
    height: 157px;
    width: 157px;
}
.image1 img{
    height: 90%;
    width: 90%;
}

.image2{
    height: 150px;
    width: 150px;
}
.image2 img{
    height:100%;
    width: 150%;
}
.image3{
    height: 150px;
    width: 250px;
}
.image3 img{
    height:100%;
    width: 100%;
}
.image4{
    height: 200px;
    width: 200px;
}
.image4 img{
    height:90%;
    width: 100%;
}
figure
{
background-color: rgb(255, 195, 255);
}
section{
    background-color:rgb(255, 180, 255);
}
.hobby{
    background-color: rgb(255, 255, 110);
}
.form{
    background-color: rgb(112, 215, 255);
}
.future{
    background-color: rgb(0, 255, 128);
}
.PREVIOUS{
background-color: rgb(255, 146, 146);
}